.bussines_card{
    width: 50%;
    position: absolute;
    margin-right: 25%;
}

.Logo{
    width: 52%;
}

.Title{
    display: inline-block;
    font-size: 600%;
    color: #fff;
}

.Title1{
    position: absolute;
    top: 8%;
    left: 53%;
}

.Title2{
    position: absolute;
    top: 33%;
    left: 82.7%;
}

.Title3{
    position: absolute;
    top: 58%;
    left: 88%;
}

@media screen and (max-width: 2560px) {
    .Title{
        display: inline-block;
        font-size: 12.7rem;
        color: #fff;
    }

    .Title1 {
        left: 48%;
    }

    .Title2 {
        left: 79.5%;
    }

    .Title3 {
        left: 85%;
    }
}

@media screen and (max-width: 1440px) {
    .Title{
        font-size: 11rem;
    }

    .Title1 {
        left: 50%;;
    }

    .Title2 {
        left: 79%;
    }

    .Title3 {
        left: 84%;
    }
}

@media screen and (max-width: 1024px) {
    .Title{
        font-size: 8rem;
    }

    .Title1 {
        left: 53%;
    }

    .Title2 {
        left: 82.2%;
    }

    .Title3 {
        left: 87.5%;
    }
}

@media screen and (max-width: 768px) {
    .Title{
        font-size: 6rem;
    }

}

@media screen and (max-width: 426px) {
    .bussines_card{
        margin-right: 25%;
    }
    
    .Logo{
        width: 55%;
    }
    
    .Title{
        font-size: 3rem;
    }
    
}

