.bussines_card{
    width: 50%;
    position: absolute;
    margin-right: 25%;
}

.Logo{
    width: 52%;
}

.Title{
    display: inline-block;
    font-size: 600%;
    color: #fff;
}

.Title1{
    position: absolute;
    top: 8%;
    left: 53%;
}

.Title2{
    position: absolute;
    top: 33%;
    left: 82.7%;
}

.Title3{
    position: absolute;
    top: 58%;
    left: 88%;
}

@media screen and (max-width: 1024px) {
    .Title1 {
        left: 53%;
    }

    .Title2 {
        left: 75%;
    }

    .Title3 {
        left: 79%;
    }
}

@media screen and (max-width: 1024px) {
    .Title1 {
        left: 53%;
    }

    .Title2 {
        left: 75%;
    }

    .Title3 {
        left: 79%;
    }
}

@media screen and (max-width: 768px) {
    .Logo {
        width: 60%;
    }

    .Title2 {
        left: 83%;
    }

    .Title3 {
        left: 88%;
    }
}

