

.long_info_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #04407e;
}

.long_info{
    display: inline-block;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 0px 2%;
}

.long_info2{
    width: 20%;
    margin: 0px 5%;
}

.long_info3{
    width: 20%;
    margin: 0px 2%;
}

.title_long_info{
    text-align: center;
    color: #fff;
    height: 50px;
    
}

.text_long_info {
    margin: 0px 5%;
    text-align: center;
    margin-top: 15%;
    background-color: #fff;
    border-radius: 10px;
    padding: 5%;
    color: #04407e;
    height: 220px;
}



.short_info_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #FFf;
}
.short_info{
    display: inline-block;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 5% 2% 0px 2%;
    height: 400px;
}

.short_info2{
    width: 20%;
    margin: 5% 5% 0px 5%;
    height: 400px;
}

.short_info3{
    width: 20%;
    margin: 5% 2% 0px 2%;
    height: 400px;
}


.title_short_info{
    text-align: center;
    color: #04407e;
    height: 50px;
}

.text_short_info{
    margin: 0px 5%;
    text-align: center;
    margin-top: 15%;
    background-color: #04407e;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
    height: 125px;
}

.icon_long_info{
    width: 25%;
    height:fit-content;
    font-size: 200%;
    background-color:#04407e;
    color: #FFF;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon_short_info{
    width: 25%;
    height:fit-content;
    font-size: 200%;
    background-color:#fff;
    color: #04407e;
    margin-top: 40px;
}

.icon4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .long_info_container{
        height: 1200px;
        display: grid;
    }

    .long_info{
        width: 50%;
        font-size: 20px;
        display: initial;
        margin: auto;
    }
    
    .long_info2{
        width: 50%;
        font-size: 20px;
        display: initial;
        margin: auto;

    }
    
    .long_info3{
        width: 50%;
        font-size: 20px;
        display: initial;
        margin: auto;

    }

    .text_long_info{
        margin-top: 0%;
        height: 160px;
    }

    
    .short_info_container{
        height: 1100px;
        display: grid;
    }

    .short_info{
        width: 50%;
        font-size: 20px;
        display: initial;
        margin: auto;
        height: 300px;
    }
    
    .short_info2{
        width: 50%;
        font-size: 20px;
        display: initial;
        margin: auto;

    }
    
    .short_info3{
        width: 50%;
        font-size: 20px;
        display: initial;
        margin: auto;

    }

    .text_short_info{
        margin-top: 0%;
        height: 100px;
    }
    
    }

    @media screen and (max-width: 768px) {

        .long_info_container{
            height: 1400px;
            display: grid;
        }
    
        .text_long_info{
            margin-top: 0%;
            height: 240px;
        }
    
        
        .short_info_container{
            height: 1200px;
            display: grid;
        }
    
        .short_info{
            width: 50%;
            font-size: 20px;
            display: initial;
            margin: auto;
            height: 300px;
        }
        
        .short_info2{
            width: 50%;
            font-size: 20px;
            display: initial;
            margin: auto;
    
        }
        
        .short_info3{
            width: 50%;
            font-size: 20px;
            display: initial;
            margin: auto;
    
        }
    
        .text_short_info{
            margin-top: 0%;
            height: 130px;
            justify-content: center;
        }
        
        }