.long_info_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #04407e;
}

.long_info {
    display: inline-block;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 0px 2%;
}

.long_info2 {
    width: 20%;
    margin: 0px 5%;
}

.long_info3 {
    width: 20%;
    margin: 0px 2%;
}

.title_long_info {
    text-align: center;
    color: #fff;
    height: 50px;

}

.text_long_info {
    margin: 0px 5%;
    text-align: center;
    margin-top: 15%;
    background-color: #fff;
    border-radius: 10px;
    padding: 5%;
    color: #04407e;
    height: 220px;
}



.short_info_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #FFf;
}

.short_info {
    display: inline-block;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 5% 2% 0px 2%;
    height: 400px;
}

.short_info2 {
    width: 20%;
    margin: 5% 5% 0px 5%;
    height: 400px;
}

.short_info3 {
    width: 20%;
    margin: 5% 2% 0px 2%;
    height: 400px;
}


.title_short_info {
    text-align: center;
    color: #04407e;
    height: 50px;
}

.text_short_info {
    margin: 0px 5%;
    text-align: center;
    margin-top: 15%;
    background-color: #04407e;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
    height: 125px;
}

.icon_long_info {
    width: 25%;
    height: fit-content;
    font-size: 200%;
    background-color: #04407e;
    color: #FFF;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon_short_info {
    width: 25%;
    height: fit-content;
    font-size: 200%;
    background-color: #fff;
    color: #04407e;
    margin-top: 40px;
}

.icon4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.icon6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 2560px) {
    .long_info_container {
        height: 800px;
    }

    .long_info {
        font-size: 24px;
    }

    .long_info2 {
        font-size: 24px;
    }

    .long_info3 {
        font-size: 22px;
    }

    .icon_long_info {
        width: 25%;
        height: fit-content;
        font-size: 8rem;
        background-color: #04407e;
        color: #FFF;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .icon2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .icon3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .title_long_info {
        font-size: 30px;
    }

    .text_long_info {
        height: 70%;
    }

    .short_info_container {
        height: 800px;
    }

    .short_info {
        font-size: 26px;
        height: auto;
        margin-top: 0%;
    }

    .short_info2 {
        font-size: 22px;
        height: auto;
        margin-top: 0%;
    }

    .short_info3 {
        font-size: 25px;
        height: auto;
        margin-top: 0%;
    }

    .icon_short_info {
        width: 25%;
        height: fit-content;
        font-size: 8rem;
        color: #04407e;
    }

    .icon4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .icon5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .icon6 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .title_short_info {
        font-size: 30px;
    }

    .text_short_info {
        height: 50%;
    }


}

@media screen and (max-width: 1440px) {
    .long_info_container {
        height: 700px;
    }

    .long_info {
        font-size: 20px;
    }

    .long_info2 {
        font-size: 20px;
    }

    .long_info3 {
        font-size: 18.5px;
    }

    .icon_long_info {
        font-size: 5rem;
    }

    .title_long_info {
        font-size: 25px;
    }

    .short_info_container {
        height: 700px;
    }

    .short_info {
        font-size: 21px;
    }

    .short_info2 {
        font-size: 18px;
    }

    .short_info3 {
        font-size: 20px;

    }


    .icon_short_info {
        width: 25%;
        height: fit-content;
        font-size: 7rem;
        color: #04407e;
    }

    .icon4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .icon5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .icon6 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .title_short_info {
        font-size: 25px;
    }

    .text_short_info {
        height: 180px;
    }

}

@media screen and (max-width: 426px) {
    .long_info_container {
        display: initial;
        height: 800px;
    }

    .long_info {
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
    }

    .long_info2 {
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
    }

    .long_info3 {
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
   
    .short_info_container{
        display: grid;
        height: 1500px;
    }
    .text_short_info {
        margin-top: 5%;
    }

    .short_info {
        width: 70%;
        margin: 0% 0% 0px 15%;
        height: 400px;
    }

    .short_info2{
        width: 70%;
        margin: 0% 0% 0px 15%;
        height: 400px;
    }

    .short_info3{
        width: 70%;
        margin: 0% 0% 0px 15%;
        height: 400px;
    }
}

@media screen and (max-width: 320px) {
    .long_info_container {
        display: initial;
        height: 800px;
        overflow: hidden;
    }

    .long_info {
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
    }

    .long_info2 {
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
    }

    .long_info3 {
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
   
    .short_info_container{
        display: grid;
        height: 1500px;
        overflow: hidden;
    }
    .text_short_info {
        margin-top: 5%;
    }

    .short_info {
        width: 70%;
        margin: 0% 0% 0px 15%;
        height: 400px;
    }

    .short_info2{
        width: 70%;
        margin: 0% 0% 0px 15%;
        height: 400px;
    }

    .short_info3{
        width: 70%;
        margin: 0% 0% 0px 15%;
        height: 400px;
    }
}