@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');



body {
	background: #04407e;
	font-family: 'Open Sans', sans-serif;
}

.Titulo_formulario{
    color:#04407e;
    font-weight: bold;
    width: 50%;
    margin-left:42% ;
}

.contenedor {
	min-height: 80%;  
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.formulario {
	position: absolute;
    width: 45%;
    height: 60%;
	min-width: 200px;
	margin-top: 65px;
    margin-bottom: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.formulario > div {
	margin-bottom: 20px;
    margin: 0px 0px 0px 25px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 90%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 87%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
    margin: 0px 0px 0px 35px;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
    
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
    
}

.image_form{
	display: flex;
}

@media screen and (max-width: 2560px) {
	
	.Titulo_formulario{
		font-size: 30px;
		margin-left: 38% ;
	}

	.formulario button[type="submit"] {
		margin-top: 3%;
	}
}

@media screen and (max-width: 1440px) {
	
	.Titulo_formulario{
		font-size: 30px;
		margin-left: 32% ;
	}

}

@media screen and (max-width: 1024px) {
	
	.Titulo_formulario{
		margin-left: 29% ;
	}

	.formulario button[type="submit"] {
		margin-top: 3%;
		margin-left: 7%;
	}
}

@media screen and (max-width: 768px) {
	
	.Titulo_formulario{
		font-size: 20px;
		margin-left: 33% ;
	}

	.formulario button[type="submit"] {
		margin-top: 3%;
		margin-left: 9%;
	}
}

@media screen and (max-width: 426px) {
	.formulario {
		width: 55%;
	}

	.Titulo_formulario{
		font-size: 20px;
		margin-left: 24% ;
	}

	.formulario > div {
		margin-bottom: 20px;
		margin: 0px 0px 0px 0px;
	}
	

	.formulario button[type="submit"] {
		margin-top: 3%;
		margin-left: 7%;
	}
}


