i {
    color: white;
    background-color: black;
}

.presentation {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    height: 600px;
    /* text-align: center; */
    align-items: center;

}

.presentation_animation {
    width: 50%;
    height: 75%;
    font-size: 400px;
    color: #04407e ;
    overflow: hidden;
}

.presentation_image{
  max-width:100%;
}

.presentation_info {
    text-align: center;
    display: grid;
   width: 50%;
   height: 45%; 
   align-items: center;
}

.presentation_title{
    color: #04407e;
}

.presentation_text {

  background-color: #04407e;
  border-radius: 10px;
  padding: 30px;
  width: 50%;
  margin: 0px auto;
  color: #fff;
}

@media screen and (max-width: 1024px) {

  .presentation {
  height: 500px;
  align-items:flex-start;
  font-size: 16px;
}

.presentation_image{
  margin-top: 25%;
}

}

@media screen and (max-width: 768px) {

.presentation {
  height: 500px;
  align-items:flex-start;
  font-size: 12px;
}

.presentation_info{
  margin-top: 2%;
}

.presentation_image{
  margin-top: 35%;
}

}
