.nav_container{
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    top: 0px;
    
}

.Logo_nav{
    width: 8%;
    margin-left: 5px;
}

.Title_nav{
    display: inline-block;
    font-size: 15px;
    color: #fff;
}

.Title_nav1{
    position: absolute;
    top: 8%;
    left: 6%;
}

.Title_nav2{
    position: absolute;
    top: 33%;
    left: 8.4%;
}

.Title_nav3{
    position: absolute;
    top: 58%;
    left: 9%;
}

.buttons{ 
    width: 50%;
    display: flex;
    justify-content:flex-end;
}

.button{
    background-color: #04407e;
    color: #fff;
    border: none;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    cursor: pointer;
}


.button:hover{
    cursor: hand;
    background-color:#052d55 ;
    transition: 0.5s;
}

@media screen and (max-width: 2560px) {
    .bussines_card_nav{
        width: 50%;
    }
    .button{
        font-size: 1.5rem;
    }

    .Logo_nav {
        width: 10%;
    }

    .Title_nav1{
        left: 6%;
        font-size: 2rem;
    }
    
    .Title_nav2{
        left: 9%;
        font-size: 2rem;
    }
    
    .Title_nav3{    
        left: 9.5%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1440px) {
    .button{
        font-size: 1.8rem;
    }

    .Logo_nav {
        width: 12%;
    }

    .Title_nav1{
        left:6%;
        font-size: 25px;

    }
    
    .Title_nav2{
        left: 9.28%;
        font-size: 25px;

    }
    
    .Title_nav3{    
        left: 9.9%;
        font-size: 25px;

    }
}

@media screen and (max-width: 1024px) {
    .button{
        font-size: 15px;
    }

    .Logo_nav {
        width: 17%;
    }

    .Title_nav1{
        left:8%;
        font-size: 25px;

    }
    
    .Title_nav2{
        left: 12.5%;
        font-size: 25px;

    }
    
    .Title_nav3{    
        left: 13.2%;
        font-size: 25px;

    }
}


@media screen and (max-width: 768px) {
    .buttons{ 
        display: none;
    }

    .Logo_nav {
        width: 22%;
    }

    .Title_nav1{
        font-size: 20px;
        left: 12%;
    }
    
    .Title_nav2{
        font-size: 20px;
        left: 17%;
    }
    
    .Title_nav3{
        font-size: 20px;
        left: 18%;
    }
}

@media screen and (max-width: 426px) {
    .nav_container{
        display:none
    }
}